html {
    background-image: url(/archivo-imagen/background-flores-edited.png);
    background-size: 20%;
    background-repeat: repeat;
    
}

.logoMyPortfolio {
    width: 200px;
    height: 52px;
    padding: 5px;
}

header {
    padding: 5px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

#buttonSearch {
    width: 50px;
    height: 20px;
    font-size: 12px;
    border: 1px #607989;
}

#buttonSearch:hover {
    background-color: #d3eafa;
    border: 1px;
    border-color: #b1c2d3;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #073b5e;
    color: white;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

.picAvatar {
    height: 160px;
    width: 160px;
}

.profilePic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconos { 
    height: 15px;
    width: 15px;
}

.videoBlog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicioPerfil {
    display: flex;
    flex-flow: column;
    font-size: 10px;
    font-family: 'Outfit', sans-serif;
    gap: 2px;
    padding: 0;
}

.info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuFlex {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-size: 12px;
    font-family: verdana, arial, sans-serif, helvetica;
    flex-wrap: wrap;
}

nav {
    border-top: aliceblue 1px solid;
    border-bottom: aliceblue 1px solid;
}

footer {
    font-size: 8px;
    display: flex;
    justify-content: center;
    font-family: verdana, arial, sans-serif, helvetica;
    background-color: #607989;

}

.entradasBlog {
    background-color: #607989;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.elementoAmarillo {
    background-color: #073b5e;
    padding: 5px;
}

a:visited, a:link {
    color: white;
    text-decoration:none;
}

a:hover {
    color: #85a9bf;
}

.botonAdd {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonAdd {
    font-family: 'Outfit', sans-serif;
    font-style: bold;
    font-size: 15px;
    color: #073b5e;
    background-color: #cf9900;
    border-radius: 3px;
    border: 1px solid #85a9bf;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#buttonAdd:hover {
    font-family: 'Outfit', sans-serif;
    font-style: bold;
    color: #4999cf;
    background-color: #746025;
    border-radius: 3px;
    border: 1px solid #85a9bf;
}

audio {
    width: 160px;
    height: 40px;
}

video {
    min-width: 30%;
    min-height: 30%;
}

.dogGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.dogPic {
    height: 50%;
    width: 50%;
    margin: 5px;
    border-radius: 25px;

}

@media (min-width: 728px) {
    .inicioPerfil {
        display: flex;
        flex-flow: row;
        font-size: 13px;
        margin-left: 10px;
        font-family: 'Outfit', sans-serif;
        gap: 2px;
        padding: 0;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: auto;
    }

video {
    width: 70%;
    height: 70%;
}

header {
    flex-direction: row;
  }

  .dogGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

  .dogPic {
    height: 23%;
    width: 23%;
    margin: 5px;
}
}
