.menuFlex {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-size: 12px;
    font-family: verdana, arial, sans-serif, helvetica;
    flex-wrap: wrap;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: verdana, arial, sans-serif, helvetica;
    font-size: 12px;
}

header {
    padding: 5px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.container {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoMyPortfolio {
    width: 200px;
    height: 52px;
    padding: 5px;
}

a:visited, a:link {
    color: black;
    text-decoration:none;
}

a:hover {
    color: #005892;
}

footer {
    font-size: 8px;
    display: flex;
    justify-content: center;
    font-family: verdana, arial, sans-serif, helvetica;
    align-items: flex-end;
    align-content: center;
}

.progresoFuente {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.martillo {
    height: 250px;
    width: 229px;
}

#buttonSearch {
    width: 50px;
    height: 20px;
    font-size: 12px;
    border: 1px #607989;
}

#buttonSearch:hover{
    background-color: #d3eafa;
    border: 1px;
    border-color: #b1c2d3;
}

.buttonLog {
    display: flex;
    align-items: center;
    justify-content: center;
}

#log {
    width: 110px;
    padding: 5px 10px;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 20px;
}

@media (min-width: 728px) {
    .container {
        padding: 0px 50px;
    }

    #log {
        width: 125px;
        padding: 5px 10px;
    }

    header {
        flex-direction: row;
      }
  }